/*CSS*/
html {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: rgb(83, 46, 0);
    background-image: url("./images/instrucciones.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    font-size: 2rem;
    text-align: center;
    text-shadow: rgb(168, 138, 16) 1px 0 10px;
}
h2, p {
    font-size: 1.5rem;
    text-align: center;
    width: 60%;
    text-shadow: rgb(71, 58, 4) 1px 0 10px;
}
#inicio, #restart {
    background-color: #ff0707; 
    border: 1px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 18px;
  }
  .transbox {
    margin: 8px;
    background-color: #ffffff;
    border: 2px solid rgb(83, 46, 0);
    opacity: 0.8;
    height: 200;
  }
  #canvas1 {
    border: 1px solid black;
    margin: 1rem 0;
    background-image: url("./images/fondo.png");
    background-size: 1200px 600px;
  }
  section {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
  }
  #instrucciones {
      width: 70%;
      height: 500px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-evenly;
  }
  #lista-instruc {
    padding: 10px 5rem;
    text-shadow: rgb(75, 61, 5) 1px 0 10px;
    font-weight: bold;
    color: rgb(46, 26, 2);
    line-height: 20pt;
  }
  #audio {
      height: 1rem;
    position: absolute;
    top: 10px;
    left: 15px;
    opacity: 0.2;
    }